.arabianHorse {color:green}

.responsive-image {
  max-width: 200px;
  margin: 10px;
}

.cell img {
  display: block;
  text-align: center;
  
}
button{
    margin: 5px;
}



@media screen and (min-width: 600px) {
  
  .cell {
    width: 50%;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    text-align: center;
  }
}

